doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='Giovanni Capote')
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    // Custom fonts for this template
    link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i' rel='stylesheet')
    // Custom styles for this template
    link(href='stylesheets/one-page-wonder.min.css' rel='stylesheet')
    link(rel="stylesheet", href="stylesheets/styles.css")
    link(rel="stylesheet", href="stylesheets/main.css")
    link(rel="stylesheet", href="stylesheets/font.css")
    link(rel='shortcut icon' type='image/png' href='/images/img/favicon.ico')
    script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous")

body
    nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
        .container
            a.navbar-brand(href='/') Gimnasio Internacional
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href='contacto') Contactenos
    header.masthead.text-center.text-white
        .masthead-content
        .container
            h1.masthead-heading.mb-0 Contacto y Ubicacion
            h2.masthead-subheading.mb-0 Telefono: (02)2535630 
            h2.masthead-subheading.mb-0 WhatsApp: 0984317869 y 0983394559
            h2.masthead-subheading.mb-0 Correo: gimnasiointernacionalcu@gmail.com

        form
          h2.masthead-subheading.mb-0 Contactenos
          p Solicite informacion y precios
          input(type="text" id="name" name="name" placeholder="Nombre" required)
          input(type="text" id="email" name="email" placeholder="Correo" required)
          textarea(id="message" name="message" placeholder="Mensaje", cols="30", rows="10" required)

          input(type="submit", value="Enviar" id="boton")
          script.
            $('form').on('submit', (e)=>{
              e.preventDefault();
              const email = $('#email').val().trim();
              const name = $('#name').val().trim();
              const message = $('#message').val().trim();
              
              const data = {
                email,
                name,
                message
              };
              $.post('/email',data,function(){
                console.log('Server recived our data');
              });

            });

    .bg-circle-1.bg-circle
    .bg-circle-2.bg-circle
    .bg-circle-3.bg-circle
    .bg-circle-4.bg-circle
    
    .social-bar
      a.icon.icon-facebook(href='https://www.facebook.com/Gimnasio-Internacional-de-Gimnasia-1781645175281655' target='_blank')
      a.icon.icon-instagram(href='https://www.instagram.com/gimnasio_internacional' target='_blank')

   

    #map


      // Footer
    footer.py-5.bg-black
      .container
      p.m-0.text-center.text-white.small Copyright &copy; Gimnasio Internacional 2020
    // /.container
    // Bootstrap core JavaScript

    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACF6aYKbwjT3XYxMB5QmpjoIWrsg6tbbE&callback=initMap")
    script(src="/javascripts/map.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")







