doctype html
html
  head
    title= title
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    // Custom fonts for this template
    link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i' rel='stylesheet')
    link(rel='shortcut icon' type='image/png' href='/images/img/favicon.ico')
    // Custom styles for this template
    link(href='stylesheets/one-page-wonder.min.css' rel='stylesheet')
    link(rel="stylesheet", href="stylesheets/styles.css")
    link(rel="stylesheet", href="stylesheets/main.css")
    link(rel="stylesheet", href="stylesheets/font.css")

body
      nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
    .container
      a.navbar-brand(href='/') Gimnasio Internacional
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='contacto') Contactenos
  header.masthead.text-center.text-white
    .masthead-content
      .container
        h1.masthead-heading.mb-0 Mensaje enviado con exito

    .bg-circle-1.bg-circle
    .bg-circle-2.bg-circle
    .bg-circle-3.bg-circle
    .bg-circle-4.bg-circle
        footer.py-5.bg-black
      .container
      p.m-0.text-center.text-white.small Copyright &copy; Gimnasio Internacional 2020
  
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')